<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>audioManagerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>133E58391E4EC15600FA33C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133E58521E4EC15600FA33C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133E585D1E4EC15600FA33C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
